* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.font-inter {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
}

nav {
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* padding-left: 120px;
    padding-right: 120px; */
    width: 75%;
    /* width: 85%; */
    /* max-width: 1360px; */

}

nav .menu {
    display: flex;
    list-style: none;
    gap: 32px;
    align-items: center;

}

nav .menu a {
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    color: white;
}

nav .menu a:hover {
    color: rgb(6, 87, 15);
}

.logo h1 {
    color: white;
}

.logo-gr {
    background: linear-gradient(180deg,
            #F7E93F 0%,
            #FB09B4 51%,
            #9100F8 100%);

    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    background-clip: text;
    color: transparent;
}

.btn {
    /* background-color: #30B868; */
    background: var(--Linear, linear-gradient(47.64deg, rgba(247, 233, 63, 1), rgba(251, 9, 180, 1), rgba(145, 0, 248, 1)));
    color: white;
    border-radius: 10000px;
    border: none;
    font-size: 16px;
    font-weight: 600;
    padding: 12px 16px;
    cursor: pointer;
}

header {
    background-color: #1A0B2E;
    padding-top: 30px;
    padding-bottom: 30px;
}

button:hover {
    background-color: black;
    color: white;
}


#banner .banner-container {
    background-image: url(assets/hero-bg.png);
    /* height: 674px; */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    /* margin-top: 16px; */
    display: flex;
    /* align-items: center; */
    justify-content: center;
    /* width: 1600px; */
    /* max-width: 1600px; */

}

.banner-content {
    margin-top: 100px;
    margin-bottom: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 24px;
    /* border: 1px solid white; */
}

.bg-circle {
    position: relative;
    /* width: 360px;      
    height: 360px; */
}

.bg-circle img {
    width: 100%;
    height: 100%;
    /* object-fit: contain; */
}

.mic {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.new-badge {
    position: absolute;
    top: 20px;
    right: 20px;

    background: #00FF88;
    color: #1A0B2E;

    padding: 8px 16px;
    border-radius: 1000px;

    font-size: 18px;
    font-weight: 600;
    z-index: 3;
}

.title {
    /* margin-top: 40px; */
    font-size: 60px;
    font-weight: 800;
    color: white;
}

.subtitle {
    /* max-width: 520px; */
    font-size: 16px;
    color: white;
}

.cta-buttons {
    display: flex;
    gap: 20px;
    margin-top: 16px;
}

.spotify-btn {
    background: linear-gradient(45deg, #ffdd00, #ff4ecd, #7b3cff);
    border: none;
    color: white;
    padding: 14px 24px;
    border-radius: 999px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
}

.subscribe-btn {
    background: transparent;
    border: 2px solid #2cff9a;
    color: #2cff9a;
    padding: 14px 28px;
    border-radius: 999px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
}


#about {
    background: #1A0B2E;
    padding: 100px 0;
    color: white;
}

.about-top {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 75%;
    margin: 0 auto;
    text-align: center;
}

.about-top h2 {
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 24px;
}

.about-p {
    font-size: 15px;
    line-height: 25px;
    color: rgba(255, 255, 255, 0.80);
    margin-bottom: 16px;
    /* width: 50%; */
    text-align: center;
    max-width: 55%;
}

/* .about-top p {
    font-size: 16px;
    line-height: 25px;
    color: rgba(255,255,255,0.80);
    margin-bottom: 16px;
    width: 50%;
    text-align: center;
    max-width: 55%;
} */

.about-top .highlight {
    margin-top: 24px;
    font-weight: 500;
}

.about-hr {
    width: 75%;
    max-width: 1200px;
    margin: 80px auto;
    /* background: rgba(255,255,255,0.15); */
}

.about-stats {
    width: 75%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.stat h3 {
    font-size: 48px;
    font-weight: 800;
    color: #2cff9a;
    margin-bottom: 8px;
}

.stat span {
    font-size: 14px;
    letter-spacing: 1px;
    color: rgba(255, 255, 255, 0.7);
    text-transform: uppercase;
}



#why-techwave {
    background: #230E3D;
    padding: 120px 0;
    color: white;
}

.section-title {
    text-align: center;
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 40px;
    color: white;
}

.why-grid {
    width: 75%;
    max-width: 1200px;
    margin: 0 auto;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minmax(180px, auto);
    gap: 30px;
    /* border: 1px solid white; */
}

.why-grid>div {
    background: #351165;
    border-radius: 40px;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.why-grid>div:hover {
    transform: translateY(-6px);
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.55);
}

.why-grid>div img {
    width: 35px;
    margin-bottom: 16px;
}

.why-grid>div h3 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 16px;
}

.why-grid>div p {
    font-size: 14px;
    line-height: 30px;
    color: rgba(255, 255, 255, 0.6);
}

.premium {
    grid-row: span 2;
}

.mobile {
    grid-column: 2 / span 2;
}

.community {
    grid-column: 2 / span 2;
}

.interviews {
    grid-column: 1 / span 2;
}

.resources {
    grid-column: 3;
}



#featured-episodes {
    padding: 120px 0;
    background: #1A0B2E;
    /* color: white; */
}

/* .section-title {
    text-align: center;
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 40px;
} */

.episodes-grid {
    width: 75%;
    max-width: 1200px;
    margin: 0 auto;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

.episode-card {
    background: #250D44;
    border-radius: 24px;
    overflow: hidden;

    display: flex;
    flex-direction: column;
}

.episode-embed {
    width: 100%;
    height: 180px;
    overflow: hidden;
    margin-bottom: 20px;
}

.episode-embed iframe {
    width: 100%;
    height: 100%;
    border: none;
}

.episode-card h3,
.episode-card p,
.duration {
    padding: 0 20px;
    color: white;
}

.episode-card h3 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

.episode-card p {
    font-size: 14px;
    line-height: 24px;
    color: rgba(255, 255, 255, 0.55);
    margin-bottom: 16px;
}

.duration {
    margin-top: auto;
    padding-bottom: 20px;
    font-size: 16px;
    font-weight: 500;
    color: #00FF88;
}


#meet-host {
    padding-bottom: 120px;
    background: #1A0B2E;
    color: white;
}

.host-card {
    width: 75%;
    max-width: 1200px;
    margin: 0 auto;

    background: #250a47;
    border-radius: 32px;
    padding: 40px;

    display: flex;
    align-items: center;
    gap: 40px;
}

.host-img {
    /* width: 160px;
    height: 160px; */
}

.host-info h3 {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 16px;
}

.host-info p {
    font-size: 16px;
    line-height: 24px;
    color: rgba(255, 255, 255, 0.55);
    margin-bottom: 20px;
}

.socials {
    display: flex;
    gap: 10px;
    align-items: center;
}

.socials img {
    width: 20px;
    height: 20px;
}


.footer {
    background: url(assets/footer-bg.png) center no-repeat;
    background-size: cover;
    text-align: center;
    padding: 120px 20px;
    color: white;
}

.footer h1 {
    font-size: 80px;
    margin-bottom: 18px;
    font-weight: bold;
}

.footer h1 span {
    background: linear-gradient(180deg,
            #F7E93F 0%,
            #FB09B4 51%,
            #9100F8 100%);

    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    background-clip: text;
    color: transparent;
}

.platforms {
    display: flex;
    justify-content: center;
    gap: 22px;
    margin-bottom: 14px;
    font-size: 14px;
    opacity: 0.9;
}

.platforms span {
    display: flex;
    align-items: center;
    gap: 6px;
}

.platforms i {
    font-size: 16px;
    color: #fff;
}

.footer p {
    font-size: 16px;
    opacity: 0.6;
}